/* The purpose of classes below is to make look and feel of our dates similar to CCK field "Date select" */

/* First select */
.og_limits-date-first {float:left;}

/* All other selects */
.og_limits-date {padding-left:10px;float:left;}